* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 25px calc((100vw - 960px) / 2);
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: red;
}

.groceries li {
    cursor: pointer;
    user-select: none;
}

li.purchased {
    text-decoration: line-through;
}
